<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main_layout}">
    <head>
        <title>Update Payment</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <div class="col-sm-6">
                <h1>Payments</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/payments/index}" >Payments</a></li>
                    <li class="breadcrumb-item active">Update Payment</li>
                </ol>
            </div>
        </div>
        <div  layout:fragment="content">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-plus"></i>
                        Update Payments
                    </h3>
                </div>
                
                 <div class="card-body"> 
                 	<div class="row"> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="balanceBf_Id">Balance B/F</label>
                                    <input class="input form-control text-center" type="text" id="balanceBf_Id" placeholder="client's balance b/f" />                                    
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="balanceCf_Id">Balance C/F</label>
                                    <input class="input form-control text-center" type="text" id="balanceCf_Id" placeholder="client's balance c/f" />                                    
                                </div>
                            </div> 
                      </div>
                  </div>
                                                  
                <form th:action="@{/payments/update/{id}(id=${paymentsdto.id})}" th:object="${paymentsdto}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}" />
                    <div class="card-body">  
                        <div class="row"> 
                             <div class="col-md-2">
                                <div class="form-group">
                                    <label for="paymentDate">Payment Date</label>
                                    <input class="form-control" type="date" th:field="*{paymentDate}" id="paymentDate" placeholder="enter payment date" />
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('paymentDate')}" th:errors="*{paymentDate}"></div>
                                </div>
                            </div> 
                            
		                       <div class="col-md-2">
	                            <div class="form-group">
		                            <label class="mx-0" style="font-weight:bold;">Client</label>
								<select id="client_Id" name="clientId" th:field="*{client}" class="form-control col-xs-12 mb-3"  required />
									<option th:value="''" >Select Client</option>
									<option th:each="clients : ${listClients}" th:value="${clients.id}" th:text="${clients.clientName}" th:selected="${clients.id} == *{client}"></option>	 
								</select>												
		                            <div class="alert alert-danger" th:if="${#fields.hasErrors('client')}" th:errors="*{client}"></div>
		                        </div>
		                    </div>
		                                             
		                     <div class="col-md-2">
	                            <div class="form-group">
		                            <label class="mx-0" style="font-weight:bold;">Pay Boxes</label>
								<select id="payBox_Id" name="payBoxId" th:field="*{payBox}" class="form-control col-xs-12 mb-3"  required />
									<option th:value="''" >Select Pay-Box</option>
									<option th:each="payBoxes : ${listPayBoxes}" th:value="${payBoxes.id}" th:text="${payBoxes.name}" th:selected="${payBoxes.id} == *{payBox}"></option>	 
								</select>												
		                            <div class="alert alert-danger" th:if="${#fields.hasErrors('payBox')}" th:errors="*{payBox}"></div>
		                        </div>
		                    </div>
		                 
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="paidBy">Paid By</label>
                                    <input class="form-control" type="text" th:field="*{paidBy}" id="paidBy" placeholder="enter narration" />
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('paidBy')}" th:errors="*{paidBy}"></div>
                                </div>
                            </div>
                         
                         	<div class="col-md-3">
                                <div class="form-group">
                                    <label for="amountPaid">Amount Paid</label>
                                    <input class="input form-control text-center" type="text" th:field="*{amountPaid}" id="amountPaid" placeholder="0" />
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('amountPaid')}" th:errors="*{amountPaid}"></div>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-6">                            
                                <div class="form-group">
                                    <label for="paymentProof">Proof of Payment</label>
                                    <input class="form-control" type="file" th:field="*{paymentProof}" id="paymentProof" placeholder="upload a proof of payment" required accept="image/png, image/jpeg" />
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('paymentProof')}" th:errors="*{paymentProof}"></div>
                                </div>
                            </div>
                                                        
                            <div class="col-md-6">                            
                                <div class="form-group">
                                    <p class="card" style="height:200px; overflow:scroll;">
										<img class="text-center my-auto" id="thumbnail" th:src="@{*{getPaymentProofPath}}" style="width:100%;" alt="proof_of_payment" />																	      
									</p>
                                </div>
                            </div>
		                 
                        </div>                    
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div layout:fragment="page_specific_scripts">
            
            <script type="text/javascript">
                $(document).ready(()=>{
			      $('#paymentProof').change(function(){
			        const file = this.files[0];
			        console.log(file);
			        if (file){
			          let reader = new FileReader();
			          reader.onload = function(event){
			            console.log(event.target.result);
			            $('#thumbnail').attr('src', event.target.result);
			          }
			          reader.readAsDataURL(file);
			        }
			      });
			    });
            </script>
            
            <script type="text/javascript" th:replace="../static/payment_Info.js" th:src="@{/payment_Info.js}"></script>
            
			<script>
			  var today = new Date().toISOString().substr(0, 10);			  
			  document.getElementById("paymentDate").value = today;
			</script>
                      	
        </div>
        
    </body>
</html>

